<div class="index-page">
  <div class="page-header header-filter">
    <div class="squares square1"></div>
    <div class="squares square2"></div>
    <div class="squares square3"></div>
    <div class="squares square6"></div>
    <div class="squares square7"></div>

    <div class="container">
      <div class="content-center brand">
        <div class="letters">
          <div class="letter letter-a">
            <svg viewBox="0 0 162 162">
              <g class="letter a-cl">
                <path
                  class="fill in"
                  stroke-width="40"
                  d="M101 141H81a60 60 0 1 1 0-120c33.14 0 59 26.86 60 60v80"
                />
                <path
                  class="fill out"
                  stroke-width="40"
                  d="M141 161V81c-1-33.14-26.86-60-60-60a60 60 0 1 0 0 120h20"
                />
                <path
                  class="line out st1-e"
                  stroke-width="2"
                  d="M121 161V81.33C120.18 58.59 102.7 41 81 41a40 40 0 1 0 0 80h20v40H81A80 80 0 1 1 81 1c43.8 0 78.66 35.27 80 79.7V161h-40z"
                />
              </g>
            </svg>
          </div>
          <div class="letter letter-n">
            <svg viewBox="0 0 162 162">
              <g class="letter n-cl">
                <path
                  class="fill in"
                  stroke-width="40"
                  d="M21 161V81c1-33.14 26.86-60 60-60a60 60 0 0 1 60 60v80"
                />
                <path
                  class="fill out"
                  stroke-width="40"
                  d="M141 161V81a60 60 0 0 0-60-60c-33.14 0-59 26.86-60 60v80"
                />
                <path
                  class="line out st1-e"
                  stroke-width="2"
                  d="M1 161V80.4C2.35 36.27 37.2 1 81 1a80 80 0 0 1 80 80v80h-40V81a40 40 0 0 0-40-40c-21.7 0-39.18 17.59-40 40.33V161H1z"
                />
              </g>
            </svg>
          </div>
          <div class="letter letter-i">
            <svg viewBox="0 0 82 162">
              <g class="letter i-cl">
                <path
                  class="fill in"
                  stroke-width="40"
                  d="M21,81c0,33.1,26.9,60,60,60"
                />
                <path
                  class="fill out"
                  stroke-width="40"
                  d="M81,141c-33.1,0-60-26.9-60-60"
                />
                <path
                  class="line out st1-e"
                  stroke-width="2"
                  d="M1,81c0,44.2,35.8,80,80,80v-40c-22.1,0-40-17.9-40-40H1z"
                />
              </g>
              <g fill="none" fill-rule="evenodd">
                <rect
                  width="40"
                  height="40"
                  x="1"
                  y="1"
                  fill="#c0cff3"
                  rx="20"
                />
              </g>
            </svg>
          </div>
          <div class="letter letter-m-1">
            <svg viewBox="0 0 162 162">
              <g class="letter m-1-cl">
                <path
                  class="fill in"
                  stroke-width="40"
                  d="M21 161V81c1-33.14 26.86-60 60-60a60 60 0 0 1 60 60v80"
                />
                <path
                  class="fill out"
                  stroke-width="40"
                  d="M141 161V81a60 60 0 0 0-60-60c-33.14 0-59 26.86-60 60v80"
                />
                <path
                  class="line out st1-e"
                  stroke-width="2"
                  d="M1 161V80.4C2.35 36.27 37.2 1 81 1a80 80 0 0 1 80 80v80h-40V81a40 40 0 0 0-40-40c-21.7 0-39.18 17.59-40 40.33V161H1z"
                />
              </g>
            </svg>
          </div>
          <div class="letter letter-m-2">
            <svg viewBox="0 0 162 162">
              <g class="letter m-2-cl">
                <path
                  class="fill in"
                  stroke-width="40"
                  d="M21 161V81c1-33.14 26.86-60 60-60a60 60 0 0 1 60 60v80"
                />
                <path
                  class="fill out"
                  stroke-width="40"
                  d="M141 161V81a60 60 0 0 0-60-60c-33.14 0-59 26.86-60 60v80"
                />
                <path
                  class="line out st1-e"
                  stroke-width="2"
                  d="M1 161V80.4C2.35 36.27 37.2 1 81 1a80 80 0 0 1 80 80v80h-40V81a40 40 0 0 0-40-40c-21.7 0-39.18 17.59-40 40.33V161H1z"
                />
              </g>
            </svg>
          </div>
          <div class="letter letter-e">
            <svg viewBox="0 0 162 162">
              <g class="letter e-cl">
                <path
                  class="fill in"
                  stroke-width="40"
                  d="M141,71v10c-1,33.1-26.9,60-60,60c-33.1,0-60-26.9-60-60V21.6"
                />
                <path
                  cclass="fill in"
                  stroke-width="40"
                  d="M21,1v80c0,33.1,26.9,60,60,60c33.1,0,59-26.9,60-60V71"
                />
                <path
                  class="st1-e"
                  d="M161,71v10.6c-1.4,44.1-36.2,79.4-80,79.4c-44.2,0-80-35.8-80-80V1h40v80c0,22.1,17.9,40,40,40 c21.7,0,39.2-17.6,40-40.3V71H161z"
                />
              </g>
            </svg>
          </div>
        </div>
      </div>

      <img src="assets/img/path1.png" class="path" />
      <img src="assets/img/triunghiuri.png" class="shapes triangle" />
    </div>
  </div>
</div>
